<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Category List</title>
</head>
<body>
    <%- include('sidebar'); -%>
    <main>
    <h1><%=item.name%></h1>
    <p>Supplier: <a href="/inventory/supplier/<%=item.supplier._id%>"><%=item.supplier.name%></a></p>
    <p>Category: <a href="/inventory/category/<%=item.category._id%>"><%=item.category.name%></a></p>    
    <p>Current Stock: <%=item.quantity%></p>
    <p>Price: <%=item.price%></p>
    <p><a href="/inventory/item/<%=item.id%>/delete">Delete this item</a></p>
    <p><a href="/inventory/item/<%=item.id%>/update">Update this item</a></p>
    </main>
</body>
</html>