<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create Item</title>
</head>
<body>
    <%- include('sidebar'); -%>
    <main>
        <h1><%=title%></h1>
        <form method="POST">
            <div class="form-group">
                <label for="name">Item</label>
                <input type="text" name="name" id="name" class="form-control" value="<%=item ? item.name : ""%>"> 
                <select id="category_id" name="category_id" class="form-control">
                    <option value="" hidden >Select Category</option>
                    <% for (var i = 0; i < categories.length; i++) { %>
                        <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
                    <% } %>
                </select>
                <select id="supplier_id" name="supplier_id" class="form-control">
                    <option value="" hidden >Select Supplier</option>
                    <% for (var i = 0; i < suppliers.length; i++) { %>
                        <option value="<%=suppliers[i]._id%>"><%=suppliers[i].name%></option>
                    <% } %>
                </select>
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="quantity" class="form-control" value="<%=item ? item.quantity : ""%>"> 
                <label for="price">Price</label>
                <input type="text" name="price" id="price" class="form-control" value="<%=item ? item.price : ""%>">                 

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if (errors && errors.length) { %>
            <div class="alert alert-danger">
                <% errors.forEach(function(error) { %>
                    <p><%= error.msg %></p>
                <% }) %>
            </div>
        <% } %>
    </main>
</body>
</html>